<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>华软项目管理系统</title>

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    

    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="background-color: #1f2d3d;">
    <form role="form" action="{:url('login/dologin')}" method="post">
    	<div>
    		<div class="row" style="background-color: white;display:block;border: 2px DarkGray solid;border-radius:5px;width:450px;margin:auto;margin-top:120px;">    			
    			<div style="margin: 40px;">
    				<h3 class="text-center">华软项目管理系统登录</h3>
    				</br>
    				<div class="form-group">	         
	                    <input type="text" placeholder="学号" class="form-control" name="user_name">
	                </div>
	                <div class="form-group">
 						<input type="password" placeholder="密码" class="form-control" name="user_pwd">
	               </div>
	               <div class="form-group">
 						<div class="checkbox">
        					<label>
          						<input type="checkbox">请记住我
        					</label>
      					</div>
	               </div>
        			<div class="form-group">
	                    <button class="btn btn-primary form-control" type="submit"><strong>登 录</strong></button>	                               
	                </div>
    			</div>
    		</div>
    	</div>
    </form>
  </body>
</html>